* {
text-align: center;
margin:auto;
}

.grid {
  border: 1px solid;
  height: 240px;  /* Doubled from 120px */
  width: 280px;   /* Doubled from 140px */
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 40px;   /* Doubled from 20px */
  width: 40px;    /* Doubled from 20px */
}

.player-one {
  background-color: red;
  border-radius: 40px;  /* Adjust radius to keep the same aspect */
}

.player-two {
  background-color: blue;
  border-radius: 20px;  /* Adjust radius to keep the same aspect */
}